body {
    height: 100vh;

    background-image: url("pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(225, 100%, 94%);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-family: 'Red Hat Display', Arial;
}

main {
    display: flex;
    flex-direction: column;
}

.cover img {
    display: block;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content {
    background-color: white;

    max-width: 450px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    padding: 3rem;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    box-shadow: 0 15px 25px 0 hsla(245, 75%, 52%, .11);
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 1.8rem;
}

p {
    color: hsl(224, 23%, 55%);
    font-weight: 500;

    font-size: 1.1rem;
}

.content p {
    line-height: 1.85rem;
}

.item {
    background-color: hsl(225, 100%, 98%);
}

b {
    color: black;
    font-weight: bold;
}

.change {
    color: hsl(245, 75%, 52%);

    font-weight: 800;
    
    text-decoration: underline;

    margin-left: auto;
}

.change:hover {
    cursor: pointer;
    text-decoration: none;
    color: hsl(245, 75%, 65%);
}

.item {
    display: flex;
    align-items: center;

    padding-right: 1.5rem;
    padding-left: 1.5rem;

    border-radius: 15px;
}

.item img {
    margin-right: 1rem;
}

.buy {
    margin-top: 2rem;

    border: none;
    background-color: hsl(245, 75%, 52%);

    color: white;

    font-weight: 600;
    font-size: 1rem;

    padding: 1rem;

    border-radius: 10px;

    box-shadow: 0 10px 20px 0 hsla(245, 75%, 52%, .25);
}

.buy:hover {
    background-color: hsl(245, 75%, 65%);
}

.cancel {
    margin-top: 1.5rem;

    border: none;
    background-color: white;

    color: hsl(224, 23%, 55%);

    font-size: 0.9rem;
    font-weight: 600;
}

.cancel:hover {
    cursor: pointer;
    color: black;
}

@media only screen and (max-width: 750px) {
    .cover img {
        width: 375px;
    }

    .content {
        padding: 2rem;
        max-width: 375px;
    }

    .item {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}